
.hero {
    background: url(images/new.jpg) center / cover;
     }
.hero .navbar{
    background-color: #00d1b2
     }
body{
    line-height: 2.5;
    margin-top: 23px;
    margin-left: 9px;
    margin-right: 9px;
}
a.navbar-item{
    color: black;
}
a.navbar-link{
    color: black;
}
h2{
    margin-top: 0rem;
}

img{
     width:112px;
    height: 44px

}


.subtitle {
    color: #4a4a4a;
    font-size: 0.75rem;
    font-weight: 200;
    line-height: 0.25;
}
 .title{
     margin-left: 193px;
     height: 73px;
}
.center, .center-column, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-item img
{
    max-height: 3.75rem;
                 }

.center-column {
    flex-direction: column;
}
.modal-wrap {
    background: white;
    position: fixed;
    width: 638px;
    height: 305px;
    top: 21%;
}
.navbar-brand{
    border-bottom:solid 0.4px #defffa;
}
.footer{
    color: white;
   background-color: #4a4a4a;
    padding: 3rem 3.5rem 6rem;
    margin-left:21px;
    margin-right: 21px;
     }
strong {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 14px;
}
.grid{display: grid;
    grid-template-columns: 1fr minmax(0, 624px) 1fr;}
.grid * { grid-column: 1 / 2; }
l{margin-left: 192px;
  color: #1d72aa;
    font-size: 41px;}
h1{
    margin-left: 50px;
    margin-bottom: 8px;
    font-weight: 800;
    color: #0a0a0a;
    font-size: 1rem;
}


.columns{
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
}
.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }
.single-spaced *{
    margin-top: 25px;
    line-height:10;
    margin-left: 34px;
}

.title{
    color: white;
    font-weight: 800;
}


@media (max-width: 1024px) {
    .desktop {
        display: none;
    }
}




