
<header class="main-header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <hr class="navbar-divider">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="themes/training/assets/compiled/css/images/prf.png">
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{'homepage'|page}}">
                       Home
                    </a>
                    <a class="navbar-item" href="{{'login'|page}}">
                        {% if not user %}
                        Login
                        {% else %}
                        My profile
                        {% endif %}
                    </a>
                    <a class="navbar-item" href="{{'shop'|page}}" >
                        shop
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            about us
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item"href="{{'about-us'|page}}">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                    {% if user %}
                    <a class="navbar-item" data-request="onLogout" data-request-data="redirect: '/'">Sign out</a>
                    {% endif %}

                </div>


            </div>
        </nav>


</header>